---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/pricemulti?fsyms=BTC,ETH,BCH,LTC,EOS&tsyms=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"BTC":{"USD":6772.85},"ETH":{"USD":541.37},"BCH":{"USD":900.71},"LTC":{"USD":98.66},"EOS":{"USD":10.69}}'
  recorded_at: Thu, 21 Jun 2018 02:27:40 GMT
recorded_with: VCR 4.0.0
