---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/pricemulti?fsyms=BTC,ETH,BCH&tsyms=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"BTC":{"USD":6723.89},"ETH":{"USD":517.24},"BCH":{"USD":888.3}}'
  recorded_at: Mon, 18 Jun 2018 20:07:30 GMT
recorded_with: VCR 4.0.0
