---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/pricemulti?fsyms=BTC,ETH,BCH,LTC,EOS&tsyms=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"BTC":{"USD":6722.55},"ETH":{"USD":518.75},"BCH":{"USD":888.15},"LTC":{"USD":98.88},"EOS":{"USD":10.66}}'
  recorded_at: Tue, 19 Jun 2018 01:15:28 GMT
recorded_with: VCR 4.0.0
