<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <th>Coin name</th>
        <th>Price</th>
        <th></th>
      </thead>
      <tbody>
        <% @coins_prices.each do |price| %>
          <tr>
            <td> <%= price[:coin_name] %> </td>
            <td> $ <%= price[:coin_price] %> </td>
            <td>
              <a href="#" class="btn btn-success"> Buy </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
